.container {
    .myswiper{
        .swiperslide {
            width: 100%;
            padding:1.2rem 1.4rem;
            border-radius: .5rem;
            border: 1px solid grey;
            font-size: 1.6rem;
            color:#aaa;
            text-transform: none;
            margin:.7rem 0;
            background-color: black;
            .swiper-box {
                
            }
            img {
            object-fit: cover;
            }
        }
    }
}